<html>
	<head>
		<title>Secure Chat App</title>
	</head>
	<body>
		<h2>Enter Your Username</h2>
		<form method="GET" action="/chat/enter">
			<input placeholder="Username" name="user">
			<input type="Submit" placeholder="Submit">
		</form>
	</body>
</html>
